@model Show

<div class="container pt-5">
    <div class="row">
        <div class="col-md-6">
            <h3>To-Do List Güncelle</h3>
            <form asp-action="Update" method="post">
                <input type="hidden" class="form-control" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="UserName">Kullanıcı *</label>
                    <select asp-for="UserName" asp-items="Model.UserList" class="form-control">
                        <option value="">--select--</option>
                    </select>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DutyName">Görev İsmi *</label>
                    <select asp-for="DutyName" asp-items="Model.DutyList" class="form-control">
                        <option value="">--select--</option>
                    </select>
                    <span asp-validation-for="DutyName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Category">Kategori Adı *</label>
                    <input type="text" class="form-control" asp-for="Category" />
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker5'>
                                    <input asp-for="DutyDate" type='text' class="form-control" data-date-format="YYYY/MM/DD" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <script asp-for="DutyDate" type=" text /javascript">
                            $(function () {
                                $('#datetimepicker5').datetimepicker({
                                    pickTime: false
                                });
                            });
                        </script>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker5'>
                                    <input asp-for="UserDate" type='text' class="form-control" data-date-format="YYYY/MM/DD" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <script asp-for="UserDate" type=" text /javascript">
                            $(function () {
                                $('#datetimepicker5').datetimepicker({
                                    pickTime: false
                                });
                            });
                        </script>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Priority">Öncelik Durumu</label><br />
                    <input type="range" asp-for="Priority" list="markers" />

                    <datalist id="markers">
                        <option value="0"></option>
                        <option value="25"></option>
                        <option value="50"></option>
                        <option value="75"></option>
                        <option value="100"></option>
                    </datalist>
                </div>
                
                <div class="form-group pt-3">
                    <button type="submit" class="btn btn-warning"><i class="bi bi-save"></i>Kaydet</button>
                    <a href="/Show/Index" class="btn btn-primary"><i class="bi bi-list"></i>Listele</a>
                </div>
            </form>

        </div>
    </div>
</div>
